*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
}


button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header-content {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo-heder {
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px ;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-list:hover,
.header-list:focus {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contact-info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contact-info:hover,
.header-contact-info:focus {
  color: #404bbf;
}

.path-of-logo-header {
  color: #2e2f42;
}

.path-of-logo-footer {
  color: #f4f4fd;
}

address {
  font-style: normal;
}

.first-section-color {
  width: 100%;              
  display: flex;                         
  align-items: center;         
  padding: 188px 0; 
  background-color: #2e2f42;
}

.first-section-color .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px;
}

.first-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em
}

.service-button {
  color: #fff;
  background-color: #4D5AE5;
  font-weight: 500 ;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
}

.service-button:hover {
  background: #404bbf;
}

.service-button:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  

.service-list {
  display: flex;
  gap: 24px;
}

.service-item {
  width: calc((100% - 72px) / 4);
}

.services-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.services-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-title {
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
  margin-bottom: 72px; 
}

.team-section {
  background-color: #F4F4FD;
}

.team-group {
  width: 100%;              
  display: flex;                         
  justify-content: space-between; 
  text-align: center;
  gap: 24px;
}

.team-group-list {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) /4 );
}

.team-info {
  padding: 32px 0;     
  text-align: center;   
}

.team-group-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;    
  text-align: center;
}

.team-group-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.portfolio-info-border {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none; 
  padding: 32px 16px;
}

.portfolio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-group li {
  margin-bottom: 48px;
}
.portfolio-group li:nth-last-child(-n+3) {
  margin-bottom: 0;  
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list {
  flex-basis: calc((100% - 2*24px)/3); 
}

.portfolio-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-block {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start; 
}


.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block; 
  margin-bottom: 16px;   
}

.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px; 
}
